p {
  margin: 0px;
}
body {
  margin: -2px;
}
header {
  background-color: green;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.whiteHead {
  background-color: white;
  max-width: 120px;
  margin-left: 60%;
  border: 3px solid green;
}
.headText {
  text-align: center;
}
main {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.fCont {
  background-image: url(Farm.jpg);
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.mainText {
  margin: auto;
  text-align: center;
  font-size: 40px;
  max-width: 1000px;
  max-height: 95px;
  font-weight: bold;
}
.mainBtn {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #267300;
  padding: 19px 30px;
  border-radius: 30px;
  margin-bottom: 100px;
  cursor: pointer;
}
.fBtn {
  text-decoration: none;
}
.SText {
  font-size: 25.5px;
}
.input {
  display: flex;
  justify-content: space-evenly;
  background-color: green;
  padding-bottom: 30px;
}
.inpText {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.title {
  background-color: green;
}
select {
  font-size: 20px;
}
